<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .result {
            font-size: 20px;
            color: #333;
            margin-top: 20px;
        }
        a {
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color: #007BFF;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="result">
        <p><strong>Playlist url :</strong> <a href="{{ playlist_url }}" target="_blank">{{ playlist_url }}</a></p>
    </div>
    <a href="/beatmaker">Create another playlist</a>
</body>
</html>
